*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1920;
    height: 1080;
    
}

#container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    border: 2px red solid;
    background-color: black;
    color: white;

    
}

#container .home{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 2px red solid ;
    padding: 10px;
}

#container .home-list{
    list-style: none;
    display: flex;
    gap: 4rem;

}


